# Пример файла переменных окружения
# Скопируйте этот файл в .env и заполните своими значениями
# cp .env.example .env

# URL Qdrant (опционально, по умолчанию http://qdrant:6333)
QDRANT_URL=http://qdrant:6333
OLLAMA_MODEL=qwen3:14b
OLLAMA_SEED=42
TRITON_URL=http://localhost:9000
USE_TRITON=True

# Gradio Auth
GRADIO_USER=admin
GRADIO_PASSWORD=admin

# Ollama Keep Alive (-1 - forever, 0 - immediately, 5m - five mins)
OLLAMA_KEEP_ALIVE=-1
OLLAMA_NUM_CTX=16000
RETRIEVER_K=20
SUMMARY_RETRIEVER_K=3
SUMMARIES_COLLECTION_NAME=rag_ti_summaries
