fastapi
uvicorn[standard]
python-multipart
Pillow
tqdm
httpx
aiohttp
nest-asyncio
langchain
langchain-community
langchain-ollama
langchain-core
langchain-qdrant
qdrant-client
langchain-huggingface
transformers==4.49.0
sentence-transformers>=2.7.0
docling
pymupdf4llm
pypdf
python-docx
pandas
tabulate
pypandoc
glmocr
openai
pymupdf
gradio
